apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../../manifests/apps/pipeline/upstream/env/cert-manager/platform-agnostic-multi-user
- resources/minio-rbac.yaml
- resources/minio-secret-kserve.yaml
- resources/minio-service.yaml
- resources/poddefault.yaml